.announcementSection {
  padding: 6rem 2rem;
}
.eventsSection {
  padding: 3rem 2rem;
}

.announcementContainer {
  display: flex;
  gap: 6rem;
  justify-content: center;
  margin-top: 2rem;
}

.announcementColumn {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 800px;
}

.announcementBox {
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
  position: relative;
}

.announcementBox:hover {
  transform: translateY(-5px);
}

.announcementHeader {
  margin-bottom: 0;
  background-color: #85c375;
  padding: 1rem;
  border-radius: 8px 8px 0 0;
  text-align: center;
}

.announcementHeader h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: #ffffff;
}

.announcementHeader h3 {
  font-size: 1.2rem;
  color: #ffffff;
  font-weight: normal;
}

.announcementDescriptionContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #eafcfd;
}

.announcementDescription {
  line-height: 1.6;
  color: #333;
  background-color: #eafcfd;
  padding: 1rem;
  border-radius: 0 0 8px 8px;
  text-align: center;
}

@media (max-width: 768px) {
  .announcementContainer {
    flex-direction: column;
    padding: 1rem;
  }

  .announcementColumn {
    width: 100%;
  }

  .announcementBox {
    margin: 0 1rem;
  }
}

.imageContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #eafcfd;
}

.announcementImage {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 4px;
  padding: 20px;
}

.eventsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin: 2rem 1rem;
  /* width: 80%; */
}
@media (min-width: 1300px) {
  .eventsContainer {
    justify-content: center;
    gap: 4rem;
    margin: 2rem 5rem;
    /* width: 80%; */
  }
}
@media (max-width: 1100px) {
  .eventsContainer {
    
    gap: 4rem;
 
  }
}


.eventBox {
  flex: 0 0 400px;
  max-width: 400px;
  /* width: 1000px; */
  background: white;
  padding: 0;
  transition: transform 0.2s ease;
}
@media (max-width: 1300px) {
  .eventBox {
    flex: 0 0 350px; /* Fixed width for event boxes */
    max-width: 350px; /* Ensure the width doesn't exceed 300px */
  }
}
.eventBox:hover {
  transform: translateY(-20px);
}

.eventImage {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.eventContent {
  border-left: 3px solid black;
  border-right: 3px solid black;
  padding: 10px;
}

.eventDate {
  color: #ff0000;
  font-weight: 500;
}

.eventEmail {
  color: #ff0000;
}

.deleteButton {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5rem;
  color: red;
  display: none; /* Hide the button by default */
}

.announcementBox:hover .deleteButton,
.eventBox:hover .deleteButton {
  display: block; /* Show the button on hover */
}

.announcementDescriptionContainer {
  position: relative;
  padding: 10px;
}

.announcementDescription {
  margin-top: 20px;
}

.deleteButtonannouncement {
  font-size: 1.2rem;
  color: red;
}
.eventHeader {
  display: flex;
  justify-content: space-between;
}
