.main{
    display: flex;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
    height: 90vh;

}
.inlog{
    margin-top: 3rem;
    background-color: #A4BCA6;
    max-width: 800px;
    display: flex;
    height: 500px;
}

.rightSide{
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    
}
.rightSide h2{
   margin-right: auto;
   margin-left: 3rem;
}
.formContainer{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 20px;

}
.form label.required::after{
    content: "*";
    color: red;
  }
.formInput{
    width: 100%;
    padding: 10px;
    border: 0;
    background-color: transparent;
    border-bottom: 1px solid black;
    font-size: 14px;
}
.formInput:focus{
    
    outline: none;
}
.formInput::placeholder{
    color: black;
    opacity: 1;
}
.logInBTN{
    width: 100px;
    padding: 0.8rem;
    font-size: 1rem;
    background-color: #9FCFD1;
    color: #000;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    transition: background-color 0.3s;
    align-self: center;
  
  }
  .logInBTN:hover{
    background-color: #329aa1;
  }

  .signUp{
    font-size: 13px;
  }
  .signUp a{
    color: #065ba1;
  }
  .signUp a:hover{
    text-decoration: underline;
    font-size: 14px;
    font-weight: bold;
    color: rgb(45, 147, 225);
  }
  .has{
    color: red;
    font-size: 16px;
  }