.main{
    z-index: 0;
}
.navbar{
    display: flex;
    background-color: aquamarine;
    color: #000;
    padding: 20;
    justify-content: space-between;
}

.sidebar{
    position: fixed;
   right: 0px;
    top: 0px;
    bottom: 0px;
    transition: width 0.35s ease;
    -webkit-transition: width 0.35s ease;
    -moz-transition: width 0.35s ease;
    -o-transition: width 0.35s ease;
    z-index: 1;
    background-color: #578362;
    padding: 20;
    color: #000;
    width: 200;
    height: 100vh;
   
}
.sidebarItem{
    list-style-type: none;
    li{
        margin-bottom: 15;
        font-size: 20;
    }
}
.main{
    background-color: lightgreen;
    color: #000;
    padding: 50
    
;
}

.image{
    display: flex;
    width: 200;
    height: 200;
    background-color: lavender;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    color: black;
    margin-bottom: 20;
}

.circle{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10;
}

.footer{
    background-color: darkgreen;
    color: #fff;
    padding: 20;
    text-align: center;
}

.row{
    /* background-color: aliceblue; */
    justify-content: center;
    align-items: center;
    display: flex;
    /* flex: 1; */
}