.main{
    z-index: 0;
}

.main{
    background-color: lightgreen;
    color: #000;
    padding: 50
    
;
}

.image{
    display: flex;
    width: 200;
    height: 200;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    margin-bottom: 20;
}

.circle{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10;
}


.row{
    /* background-color: aliceblue; */
    justify-content: center;
    align-items: center;
    display: flex;
    /* flex: 1; */
}